{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/divida/index_divida.css' %}">

<div class="container">
    <h1>Painel de Controle de Dívidas</h1>
    <p>Escolha a ação desejada:</p>

    <div class="button-group">
        <div class="btn-wrapper"><a href="{% url 'cadastrar_divida' %}" class="btn btn-success">Cadastrar Dívida</a></div>
        <div class="btn-wrapper"><a href="{% url 'pesquisar_divida' %}" class="btn btn-primary">Pesquisar / Listar Dívidas</a></div>
    </div>
</div>
{% endblock content %}